<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}
  <link rel="stylesheet" href="{{ " /assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  {% include head-custom.html %}
</head>

<body>
  <div class="wrapper">
    <header>
      <h1><a href="{{ " /" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
      <img
        src="https://user-images.githubusercontent.com/1476820/154357977-2237d1ad-714f-4c93-954d-4a9667fa0357.png?s=200"
        alt="Logo" />
      <p>{{ site.description | default: site.github.project_tagline }}</p>
      <ul>
        <li><a href="https://github.com/workbenchapp/solana-workbench/releases">Download for M1 Mac</a></li>
        <li><a href="https://github.com/workbenchapp/solana-workbench/releases">Download for x86_64 Mac</a></li>
        <li><a href="https://github.com/workbenchapp/solana-workbench/releases">Download for Windows</a></li>
        <li><a href="https://github.com/workbenchapp/solana-workbench/releases">Download for x86_64 Linux</a></li>
      </ul>
    </header>
    <section>

      {{ content }}

    </section>
    <footer>
    </footer>
  </div>
  <script src="{{ " /assets/js/scale.fix.js" | relative_url }}"></script>
</body>

</html>